/**
 * @file
 * Visual styles for Bartik's featured top.
 */

.featured-top {
  text-align: center;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.4;
  padding: 20px 10px 45px;
  margin: 0;
  background: #8E979D;
  border-bottom: 1px solid #e7e7e7;
  color: white;
}
.featured-top h2 {
  font-size: 1.2em;
  line-height: 1;
  text-align: left;
}
.featured-top p {
  margin: 0;
  padding: 0;
}
